## Java

*.class
*.war
*.ear
hs_err_pid*

## Android Studio and Intellij and Android in general
lib/
android/libs/
android/gen/
.idea/
*.ipr
*.iws
*.iml
out/
com_crashlytics_export_strings.xml

## Gradle

.gradle
build/

## OS Specific
.DS_Store

local.properties